In [7]:
import pandas as pd 

file_path=r'C:\Users\abhij\Downloads\archive\GCB2022v27_MtCO2_flat.csv'
df=pd.read_csv(file_path)
df.head()

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Afghanistan,AFG,1750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1751,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1752,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1753,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1754,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.tail()

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
63099,Global,WLD,2017,36096.739276,14506.973805,12242.627935,7144.928128,1507.923185,391.992176,302.294047,4.749682
63100,Global,WLD,2018,36826.506600,14746.830688,12266.016285,7529.846784,1569.218392,412.115746,302.478706,4.792753
63101,Global,WLD,2019,37082.558969,14725.978025,12345.653374,7647.528220,1617.506786,439.253991,306.638573,4.775633
63102,Global,WLD,2020,35264.085734,14174.564010,11191.808551,7556.290283,1637.537532,407.583673,296.301685,4.497423
63103,Global,WLD,2021,37123.850352,14979.598083,11837.159116,7921.829472,1672.592372,416.525563,296.145746,4.693699

In [9]:
missing_values_summary = df.isna().sum()
print(missing_values_summary)

Country                   0
ISO 3166-1 alpha-3     1632
Year                      0
Total                   200
Coal                  41360
Oil                   41387
Gas                   41486
Cement                42290
Flaring               41554
Other                 61484
Per Capita            44130
dtype: int64

In [11]:
print(df['Coal'])

0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
             ...
63099    14506.973805
63100    14746.830688
63101    14725.978025
63102    14174.564010
63103    14979.598083
Name: Coal, Length: 63104, dtype: float64

In [12]:
print( df['Coal'].isna())

0         True
1         True
2         True
3         True
4         True
         ...
63099    False
63100    False
63101    False
63102    False
63103    False
Name: Coal, Length: 63104, dtype: bool

In [22]:
df_new = df.dropna(subset = ['Coal','Gas','Oil','Cement','Flaring','Other','Per Capita'], how='all')
print(df_new)

           Country ISO 3166-1 alpha-3  Year         Total          Coal  \
199    Afghanistan                AFG  1949      0.014656      0.014656
200    Afghanistan                AFG  1950      0.084272      0.021068
201    Afghanistan                AFG  1951      0.091600      0.025648
202    Afghanistan                AFG  1952      0.091600      0.031708
203    Afghanistan                AFG  1953      0.106256      0.037949
...            ...                ...   ...           ...           ...
63099       Global                WLD  2017  36096.739276  14506.973805
63100       Global                WLD  2018  36826.506600  14746.830688
63101       Global                WLD  2019  37082.558969  14725.978025
63102       Global                WLD  2020  35264.085734  14174.564010
63103       Global                WLD  2021  37123.850352  14979.598083

                Oil          Gas       Cement     Flaring       Other  \
199        0.000000     0.000000     0.000000    0.000000         NaN
200        0.063204     0.000000     0.000000    0.000000         NaN
201        0.065952     0.000000     0.000000    0.000000         NaN
202        0.059892     0.000000     0.000000    0.000000         NaN
203        0.068307     0.000000     0.000000    0.000000         NaN
...             ...          ...          ...         ...         ...
63099  12242.627935  7144.928128  1507.923185  391.992176  302.294047
63100  12266.016285  7529.846784  1569.218392  412.115746  302.478706
63101  12345.653374  7647.528220  1617.506786  439.253991  306.638573
63102  11191.808551  7556.290283  1637.537532  407.583673  296.301685
63103  11837.159116  7921.829472  1672.592372  416.525563  296.145746

       Per Capita
199           NaN
200      0.011266
201      0.012098
202      0.011946
203      0.013685
...           ...
63099    4.749682
63100    4.792753
63101    4.775633
63102    4.497423
63103    4.693699

[26698 rows x 11 columns]

In [23]:
df_new.head()

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
199,Afghanistan,AFG,1949,0.014656,0.014656,0.000000,0.0,0.0,0.0,NaN,NaN
200,Afghanistan,AFG,1950,0.084272,0.021068,0.063204,0.0,0.0,0.0,NaN,0.011266
201,Afghanistan,AFG,1951,0.091600,0.025648,0.065952,0.0,0.0,0.0,NaN,0.012098
202,Afghanistan,AFG,1952,0.091600,0.031708,0.059892,0.0,0.0,0.0,NaN,0.011946
203,Afghanistan,AFG,1953,0.106256,0.037949,0.068307,0.0,0.0,0.0,NaN,0.013685

In [25]:
print(df_new.shape)

(26698, 11)